* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.pizzaCard,
.adminCard {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all .5s;
}

.pizzaCard:hover {
  transform: translateY(-10px);
}


.buttons_container {
  padding: 10px;
}

input {
  width: min-content;
  /* border: none; */
  outline: none;

}